
<div id="app">
  <div class="container">
    <div class="row row justify-content-center mt-5">
      <div class="col-12 app-title__container">
        <h1>{{title | uppercase}}</h1>
        <h5>Developed by Daehwa Seo</h5>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-bar"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" 
                class="form-control" 
                placeholder="Search" 
                aria-label="Search" 
                aria-describedby="search-bar"
                (input)="onSearch()" 
                [(ngModel)]="keyword">
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
      <div class="col col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="list-group">
          <ng-container *ngIf="( result$ | async ) as result; else loading">
            <ng-container *ngIf="result.nbHits > 0; else noresults" >
              <a *ngFor="let item of result.hits" href="{{item.url}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{item.title ? item.title : 'N/A'}}</h5>
                  <small>{{item.created_at | dateTimeFormat}}</small>
                </div>
                <div class="item-meta-data">
                  <span class="badge" 
                        [ngClass]="{'badge-secondary': item.points <= 100, 'badge-warning':(item.points > 100 && item.points <= 1000), 'badge-danger': item.points > 1000 }">{{item.points ? item.points : 0}} points</span>
                  <small>by {{item.author}}</small>
                </div>
              </a>
            </ng-container>
            <ng-template #noresults>
              <div class="no-results__container">
                <h3>No Results Found</h3>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>

    <div *ngIf="( result$ | async ) as result" class="row d-flex justify-content-between mt-5 mb-5">
      <div *ngIf="result.nbPages > 0" class="col-12 pagination__container">
        <button type="button" 
                class="btn btn-secondary btn-sm" 
                [disabled]="result.page === 0"
                (click)="paginate(result.page, 'prev', result.nbPages)">Previous</button>

        <span>{{result.page + 1}} / {{result.nbPages}}</span>

        <button type="button" 
                class="btn btn-secondary btn-sm" 
                [disabled]="result.page === (result.nbPages - 1)"
                (click)="paginate(result.page, 'next', result.nbPages)">Next</button>
      </div>
    </div>

    

    <ng-template #loading>
      <div class="spinner__container">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>



